*{
}
body{
  width: auto;
  height: 100%;
  margin:0;
  border:1px solid transparent;
}
.navbar{
  outline: 1px solid black;
}
.navbar ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navbar li{
  display:inline-block;
  float:right;
  margin: auto;
  padding:20px 30px 5px 0px;
  height: 20px;
}
.navbar li a{
  font-family: arial,sans-serif;
  text-decoration: none;
  opacity: .75;
}
.navbar li a input{
  border:3px solid #4285f4;;
  border-radius: 5px;
  background-color:#4285f4;;
  color:white;
  outline: 1px black;
  fint-weight: bold;
  height:25px
}
.image{
  margin: auto;
  text-align: center;
  height: 233px;
  margin-top: 89px;
  position: relative;
}
.image img{
  position: relative;
  height:92px;
  width: 272px;
  padding-top: 109px;
}
input{
  position: relative;
  font-family: arial,sans-serif;
}
.inputs{
  text-align: center;
  top: 80px;
  margin: auto;
  width: 450px;
}
.search input[type="text"]{
  width:450px;
}
.search input[type="submit"]{
  margin-top:15px;
  margin-left: 35px;
  margin-right: 35px
}
